{% extends 'templates/wind.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alterar item
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="{{ path_for('alterar', {'id': p.id}) }}" method="POST">
                                <div class="form-group{{ errors.titulo ? ' has-error' : '' }}">
                                    <label class="control-label" for="titulo">Título *</label>
                                    <input type="text" id="titulo" name="titulo" class="form-control" required value="{{ p.titulo }}">
                                    {% if errors.titulo %}
                                        <span class="help-block">{{ errors.titulo | first }}</span>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="categoria">Categoria</label>
                                    <input type="text" id="categoria" name="categoria" class="form-control" value="{{ p.categoria.nome }}" readonly>
                                </div>
                                <div class="form-group{{ errors.tags ? ' has-error' : '' }}">
                                    <label class="control-label" for="tags">Tags (separadas por vírgula) *</label>
                                    <input type="text" id="tags" name="tags" class="form-control" required value="{{ p.getTagsInput() }}">
                                    {% if errors.tags %}
                                        <span class="help-block">{{ errors.tags | first }}</span>
                                    {% endif %}
                                </div>
                                <div class="form-group{{ errors.tabelas ? ' has-error' : '' }}">
                                    <label class="control-label" for="tabelas">Tabelas envolvidas (separadas por vírgula)</label>
                                    <input type="text" id="tabelas" name="tabelas" class="form-control" value="{{ p.getTabelasInput() }}">
                                    {% if errors.tabelas %}
                                        <span class="help-block">{{ errors.tabelas | first }}</span>
                                    {% endif %}
                                </div>
                                <div class="form-group{{ errors.situacao ? ' has-error' : '' }}">
                                    <label class="control-label" for="situacao">Situação *</label>
                                    <textarea id="situacao" name="situacao" class="form-control" required>{{ p.situacao }}</textarea>
                                    {% if errors.situacao %}
                                        <span class="help-block">{{ errors.situacao | first }}</span>
                                    {% endif %}
                                </div>
                                <div class="form-group{{ errors.solucao ? ' has-error' : '' }}">
                                    <label class="control-label" for="solucao">Solução *</label>
                                    <textarea id="solucao" name="solucao" class="form-control" required>{{ p.solucao | raw }}</textarea>
                                    {% if errors.solucao %}
                                        <span class="help-block">{{ errors.solucao | first }}</span>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                    <a href="{{ path_for('problema', {'id': p.id}) }}" class="btn btn-default">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <i class="fa fa-user"></i> {{ p.criador }}<br>
                    <i class="fa fa-calendar"></i> Criado em {{ p.created_at }} atualizado em {{ p.updated_at }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}